<div class="container mt-5"> 
    <h1>Selamat Datang di Aplikasi Perpustakaan</h1>
    <p>Ini adalah halaman utama dari aplikasi manajemen perpustakaan.</p>
    <a href="/perpustakaan" class="btn btn-primary">Daftar Buku</a>
</div>