<div class="container mt-5">
    <h1>Welcome to MyPerpus!</h1>
    <p>This is the home page of our application.</p>
    <a href="/books" class="btn btn-primary btn-lg">Lihat Daftar Buku</a>     
</div>